@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,400;1,500;1,600;1,700&display=swap');



@font-face {
    font-family: 'android';
    src: url('../fontes/idroid.otf') format('opentype');
}


:root{
    --cor0: #c5ebc5;
    --cor1: #83e1ad;
    --cor2: #3dde84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d06;


    --fonte-padrão: arial, sans-serif;
    --fonte-destaque: 'Work Sans', sans-serif;
    --fonte-android: 'android';

}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor0);
   
}


a.externo::after {
    content: '\00A0\1F517';
}
header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 400px;
    
    
}

h1#titulo{
    color: white;
    text-align: center;
    font-family: var(--fonte-destaque);
    padding: 130px 20px 0px 20px;
    font-size: 3em;
    font-weight: 600;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);
}


   


header > p {
    font-size: 1em;
    color: white;
    text-align: center;
    font-family: var(--fonte-destaque);
    margin: 20px;
    height: 145px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);
    
   
}

nav {
    background-color: var(--cor5);
    color: white; 
    padding: 10px;
    box-shadow: 0px 7px 9px black;
    
} 

nav > a {
    color: white; 
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    
    
} 

nav > a:hover { 
    background-color: var(--cor3);

}

main{
    background-color: var(--cor0);
    margin: 0px 85px 0px 85px;
    box-shadow: 0px 0px 10px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    min-width: 320px;
    max-width: 1000px;
      
}


main img{
    width: 100%;
}

main img.pequena{
    display: block;
    width: 350px;
    margin:auto

} 

main p {
    text-align: justify;
    margin: 15px 0px;
    text-indent: 30px;
    line-height: 2em;
}

main strong {
    color: var(--cor4);
    background-color: var(--cor1);
    padding: 2px 6px;
    font-weight: bold;
}

main a{
    color: var(--cor5);
    text-decoration: none;
    
}

main a:hover 
{
    background-color: var(--cor1);
}





article{
    background-color: white;
   
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
    
    
    
    

    

}


footer{
    background-color: black;
    color: white;
    
}

footer > p {
    text-align: center;
    margin-top: 20px;
}


a#git{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

a#git:hover {
    text-decoration: underline white;
}
h2{
    font-family: var(--fonte-android);
    color: #063d06;
    font-size: 2em;
    text-align: center;
    padding: padding 5px 2px 5px 10px;

}

.subtitulo{
    font-size: 1.3em;
    text-align: left;
    color:var(--cor5);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}
   
.video{
    
}

aside{
    background-color: var(--cor1);
    margin: 16px 12px 25px 12px;
    border-radius: 24px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.342);
}


p{
    padding: 5px;
    text-align: justify;
}

ul{
    list-style-type: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
    
}

h3{
    background-color: var(--cor4);
    color: white;
    font-family: var(--fonte-padrão);
    border-radius:24px 24px 0px 0px;
    padding: 10px;
}


div.video{
    background-color: var(--cor5);
    margin: 0px -0px 30px -0px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
    
}


div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    
}